

BASE_DOCUMENTS=[{"cedula":"1052666435","diaExped":"16","mesExped":"11","añoExped":"2015"},{"cedula":"","diaExped":"","mesExped":"","añoExped":""},{"cedula":"","diaExped":"","mesExped":"","añoExped":""},{"cedula":"","diaExped":"","mesExped":"","añoExped":""},{"cedula":"","diaExped":"","mesExped":"","añoExped":""},{"cedula":"","diaExped":"","mesExped":"","añoExped":""},{"cedula":"","diaExped":"","mesExped":"","añoExped":""},{"cedula":"","diaExped":"","mesExped":"","añoExped":""},{"cedula":"","diaExped":"","mesExped":"","añoExped":""},{"cedula":"","diaExped":"","mesExped":"","añoExped":""},{"cedula":"","diaExped":"","mesExped":"","añoExped":""},{"cedula":"","diaExped":"","mesExped":"","añoExped":""},{"cedula":"","diaExped":"","mesExped":"","añoExped":""},{"cedula":"","diaExped":"","mesExped":"","añoExped":""},{"cedula":"","diaExped":"","mesExped":"","añoExped":""}];

BASE_UNITTEST={"cedula":"1052666435","FechaExpedicion": "24 DE MARZO DE 2005","LugarExpedicion":"BARRANQUILLA - ATLANTICO","nombre":"DIANA JOSEFINA MENDEZ GOMEZ"}
