
BASE_DOCUMENTS=[{"cedula":"","diaExped":"","mesExped":"","añoExped":""},{"cedula":"","diaExped":"","mesExped":"","añoExped":""},{"cedula":"","diaExped":"","mesExped":"","añoExped":""},{"cedula":"","diaExped":"","mesExped":"","añoExped":""},{"cedula":"","diaExped":"","mesExped":"","añoExped":""},{"cedula":"","diaExped":"","mesExped":"","añoExped":""},{"cedula":"","diaExped":"","mesExped":"","añoExped":""},{"cedula":"","diaExped":"","mesExped":"","añoExped":""},{"cedula":"","diaExped":"","mesExped":"","añoExped":""},{"cedula":"","diaExped":"","mesExped":"","añoExped":""},{"cedula":"","diaExped":"","mesExped":"","añoExped":""},{"cedula":"","diaExped":"","mesExped":"","añoExped":""},{"cedula":"","diaExped":"","mesExped":"","añoExped":""},{"cedula":"","diaExped":"","mesExped":"","añoExped":""},{"cedula":"","diaExped":"","mesExped":"","añoExped":""}];
